<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amulya Data</title>
    <link rel="stylesheet" href="/CSS/About.css">
    <link rel="stylesheet" href="/CSS/Navbar.css">
</head>
<body>
    <div class="Navbar">
        <a href="/Components/Data.html">Data</a>
        <a href="/Components/About.html">About</a>
        <a href="/">Home</a>        
    </div>

    <div class="aboutbody">
        <h1>
            Hello This is About Page!
        </h1>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Culpa quod veniam iste sed beatae ipsam voluptatem eos 
            molestiae inventore? Recusandae magni ex minus odit 
            officia tempora adipisci quam ratione, temporibus iusto, 
            corporis eveniet voluptatem quae ad accusantium enim! 
            Voluptatibus cumque possimus obcaecati dolorem aperiam 
            repudiandae numquam pariatur fugit quasi deserunt.
        </p>
    </div>
</body>
</html>