<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/CSS/ContactUs.css">
    <link rel="stylesheet" href="/CSS/Navbar.css">
</head>
<body>
    <div class="Navbar">
        
        <a href="/">Home</a>        
        <a href="/Components/About.html">About</a>
        <a href="/Components/Gallery.html">Gallery</a>
        <a href="/Components/Datasets.html">Datasets</a>
        <a href="/Components/TeamMember.html">Team Members</a>
        <a href="/Components/ContactUs.html">Contact Us</a>
    </div>
    <div class="contactbody">
        <h4>CONTACT US</h4>
        <p class="p-large">Prof. Prashant Ghosh</p>
        <p class="p-lab">SPIRE LAB</p>
        <p class="p-add">C-326, 2nd Floor</p>
        <p class="p-l1">Electrical Engineering Department</p>
        <p class="p-l2">Indian Institute of Science</p>
        <p class="p-l3">Bengaluru</p>
        <p class="p-l4">Email-id:- contact.syspin@gmail.com</p>
    </div>
    

    <div class="footer">
        <div><img src="../assests/IISc_Master_Seal_Black_Transparent.png" alt="IISc, Bengaluru"  width="150px"></div>
        <div><h3>&copy 2023 Spirelab</h3></div>
        <div><a href="/">Terms and Conditions</a></div>
        <div><img src="../assests/Spire.jpg" alt="Spire logo"  width="80px"></div>
      </div> 

</body>
</html>