<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Members</title>
    <link rel="stylesheet" href="AmulyaProject/CSS/TeamMember.css">
    <link rel="stylesheet" href="AmulyaProject/CSS/Navbar.css">
</head>
<body>
    <div class="Navbar">
        
        <a href="/">Home</a>        
        <a href="AmulyaProject/Components/About.html">About</a>
        <a href="AmulyaProject/Components/Gallery.html">Gallery</a>
        <a href="AmulyaProject/Components/Datasets.html">Datasets</a>
        <a href="AmulyaProject/Components/TeamMember.html">Team Members</a>
        <a href="AmulyaProject/Components/ContactUs.html">Contact Us</a>
    </div>
    <div>
        
    <h4>TEAM MEMBERS</h4>

    <div class="team-images">
        <!-- IMAGE 1-->
        <div class="img1" id="img-1" onclick="showimg1()">
          <img src="../assests/images/images.png" alt="Team Member" width="300" height="200">
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="display-img" id="dis-img1">
            <div class="img1">
                <img src="../assests/images/images.png" alt="Team Member" width="300" height="200">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>

        <!-- IMAGE 2-->
        <div class="img2" id="img-2" onclick="showimg2()">
            <img src="../assests/images/images.png" alt="Team Member" width="300" height="200">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="display-img" id="dis-img2">
            <div class="img2">
                <img src="../assests/images/images.png" alt="Team Member" width="300" height="200">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>

        <!-- IMAGE 3-->
        <div class="img3" id="img-3" onclick="showimg3()">
            <img src="../assests/images/images.png" alt="Team Member" width="300" height="200">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="display-img" id="dis-img3">
            <div class="img3">
                <img src="../assests/images/images.png" alt="Team Member" width="300" height="200">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
</div>
<div class="team-images">
    
        <!-- IMAGE 4-->
        <div class="img4" id="img-4" onclick="showimg4()">
            <img src="../assests/images/images.png" alt="Team Member" width="300" height="200">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="display-img" id="dis-img4">
            <div class="img4">
                <img src="../assests/images/images.png" alt="Team Member" width="300" height="200">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>

        <!-- IMAGE 5-->
        <div class="img5" id="img-5" onclick="showimg5()">
            <img src="../assests/images/images.png" alt="Team Member" width="300" height="200">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>

        <div class="display-img" id="dis-img5">
            <div class="img5">
                <img src="../assests/images/images.png" alt="Team Member" width="300" height="200">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>


</div>

</div>

    <div class="footer">
        <div><img src="../assests/IISc_Master_Seal_Black_Transparent.png" alt="IISc, Bengaluru"  width="150px"></div>
        <div><h3>&copy 2023 Spirelab</h3></div>
        <div><a href="/">Terms and Conditions</a></div>
        <div><img src="../assests/Spire.jpg" alt="Spire logo"  width="80px"></div>
    </div> 


    <script>
        function showimg1() {
 
            /* Access image by id and change
            the display property to block*/
            document.getElementById('dis-img1')
                    .style.display = "block";

            document.getElementById('img-1')
                    .style.display = "none";
        }
        function showimg2() {
            
            /* Access image by id and change
            the display property to block*/
            document.getElementById('dis-img2')
                    .style.display = "block";

            document.getElementById('img-2')
                    .style.display = "none";
        }

        function showimg3() {
        
            /* Access image by id and change
            the display property to block*/
            document.getElementById('dis-img3')
                    .style.display = "block";

            document.getElementById('img-3')
                    .style.display = "none";
        }

        function showimg4() {
        
            /* Access image by id and change
            the display property to block*/
            document.getElementById('dis-img4')
                    .style.display = "block";

            document.getElementById('img-4')
                    .style.display = "none";
        }

        function showimg5() {
        
            /* Access image by id and change
            the display property to block*/
            document.getElementById('dis-img5')
                    .style.display = "block";

            document.getElementById('img-5')
                    .style.display = "none";
        }

    </script>
</body>
</html>